form{
    text-align: center;
    margin-top: 100px;
}

.login{
    padding: 10px;
    border-radius: 21px;
    border: 1px solid #6d6969;
    
}

input{
    margin-right: 10px;
    outline: inherit;
    border-bottom: 1px solid black ;
    background-color: #fff;
    color: #6d6969;
}

p{
    margin: 25px auto;
    width: 400px;
    color: #707679;
}

button{
    border-radius: 4px;
    background: #607d8b;
    color: #fff;
}